.contacts-info {
  margin: 40px auto 0;
  border-top: 1px solid rgba(80, 80, 80, 0.25);
  border-bottom: 1px solid rgba(80, 80, 80, 0.25);
  padding-bottom: 40px;
  &__contacts {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
    &-item {
      display: flex;
      align-items: center;
      @media screen and (max-width: 480px) {
        margin: auto;
      }
    }
    &--icon {
      margin-right: 15px;
    }
  }
}