//colors
$dark-background: #282c34;
$dark-button-background: #ffca40;
$dark-wrapper-background: #323640;
$dark-wrapper-text-color: #fbfff1;
$dark-text-color: #FBFFF1;
$dark-button-text-color: #000;
$dark-work-line-color: #fff;

$light-background: #FCF7F8;
$light-button-background: #689ff1;
$light-wrapper-background: #ececec;
$light-wrapper-text-color: #000;
$light-text-color: #1B2432;
$light-button-text-color: #fff;
$light-work-line-color: #000;