.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__info {

    margin-left: auto;

    @media screen and (max-width: 1024px) {
      margin: auto;
    }

  }

  &__hello {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 520px;

    h1 {
      display: block;
    }

    img {
      display: block;
      width: 150px;
      border-radius: 50%;
      margin: auto;
    }

    @media screen and (max-width: 1024px) {

      width: 100%;

      h1, picture {
        width: 100%;
      }
    }

    position: relative;

  }

  img[title="Under Construction"] {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(50deg);
    width: 180px;
    @media screen and (max-width: 768px) {
      width: 180px;
      top:0;
      right:5px;
    }
  }
}