body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #FBFFF1;
  @media screen and (min-width:320px) and (max-width:768px) {
    text-align: center;
  }
  animation: fade-in ease-in 1.5s;
}

a {
  color: #FFBA08;
}

p {
  margin: 5px 0;
}

.max-width {
  max-width: 1150px;
  margin: auto;
}

.scale-on-hover {
  transition-duration: .4s;
  &:hover {
    transform: scale(1.15);
  }
}

.background {
  &-lighter {
    background-color: #323640;
    border-radius: 2.5%;
  }
}
